Repository rsksmart/rLogin-sample-apps, pull requests merged in 2021-09, with the labels that each got.

#35 Remove RLoginButton
  basic-dapp/src/App.js
  basic-dapp/yarn.lock
  permissioned-app/frontend-app/src/App.js
  permissioned-app/frontend-app/yarn.lock
Labels: bug, dependencies

#36 rLogin 1.2.0 beta.1
  basic-dapp/package.json
  basic-dapp/yarn.lock
  permissioned-app/frontend-app/package.json
  permissioned-app/frontend-app/yarn.lock
Labels: Basic App, Permissioned App, dependencies

#37 rLogin providers beta.7
  basic-dapp/package.json
  basic-dapp/src/App.js
  basic-dapp/yarn.lock
  permissioned-app/frontend-app/package.json
  permissioned-app/frontend-app/yarn.lock
Labels: Basic App, Permissioned App, dependencies

#40 rLogin v1.2.0 beta.3
  basic-dapp/package.json
  basic-dapp/yarn.lock
  permissioned-app/frontend-app/package.json
  permissioned-app/frontend-app/yarn.lock
Labels: Basic App, Permissioned App, dependencies

#43 Fix rLogin options
  basic-dapp/src/App.js
  basic-dapp/yarn.lock
  permissioned-app/frontend-app/src/App.js
  permissioned-app/frontend-app/yarn.lock
Labels: bug, Basic App, Permissioned App

#42 [devops] Adding backend deployment for permissioned app
  .github/workflows/deploy.yml
Labels: Permissioned App
